.cuestionario {
  display: flex;
  flex-direction: column;
  background-color: #807c7c;
  padding: 10px;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  background-color: #5e5c5c;
  padding: 10px;
}

.form-label{
    color:blanchedalmond
}

.boton{
    background-color: #d0ebd4;
    border-color: #e1f0e9;
    color: rgb(42, 204, 104);
    border-width: 2px;
    border-radius: 20px;  
    padding: 8px;
}

.listado{
    background-color: #756f6f;
}

.espacio{
    padding: 10px;
}
